CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_VFS_SUPPORT_TERMIOS=y
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=n
CONFIG_HEAP_TRACING_DEST=none
CONFIG_HEAP_TRACING_STACK_DEPTH=10